################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/POC
/.vs/POC/FileContentIndex
/.vs/POC/FileContentIndex/4d72a91d-9b56-45ae-bcac-abdce548cac7.vsidx
/.vs/POC/FileContentIndex/b94c21e4-791f-4c57-afae-d20328b94d12.vsidx
/.vs/POC/FileContentIndex/bcf33be4-290d-4dbd-a0d1-0e571e71a7ec.vsidx
/.vs/POC/v17
/.vs/POC/v17/.suo
/.vs/POC/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/WebScraping_MedicoscrHulilabs
/.vs/WebScraping_MedicoscrHulilabs/FileContentIndex
/.vs/WebScraping_MedicoscrHulilabs/FileContentIndex/9233839a-2dc4-49b2-a889-a64d290b6595.vsidx
/.vs/WebScraping_MedicoscrHulilabs/FileContentIndex/be3000ca-d2d5-4818-90a5-57fc3a722121.vsidx
/.vs/WebScraping_MedicoscrHulilabs/v17
/.vs/WebScraping_MedicoscrHulilabs/v17/.wsuo
/.vs/WebScraping_MedicoscrHulilabs/v17/DocumentLayout.json
/packages/ODP.Oracle.DataAccess.x64.4.121.2
/packages/ODP.Oracle.DataAccess.x64.4.121.2/.signature.p7s
/packages/ODP.Oracle.DataAccess.x64.4.121.2/lib/net40
/packages/ODP.Oracle.DataAccess.x64.4.121.2/lib/net40/Oracle.DataAccess.dll
/packages/ODP.Oracle.DataAccess.x64.4.121.2/LICENSE.txt
/packages/ODP.Oracle.DataAccess.x64.4.121.2/ODP.Oracle.DataAccess.x64.4.121.2.nupkg
/POC
/POC/App.config
/POC/bin/Debug
/POC/bin/Debug/Oracle.DataAccess.dll
/POC/bin/Debug/POC.exe
/POC/bin/Debug/POC.exe.config
/POC/bin/Debug/POC.pdb
/POC/obj
/POC/obj/Debug
/POC/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/POC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/POC/obj/Debug/POC.csproj.AssemblyReference.cache
/POC/obj/Debug/POC.csproj.CoreCompileInputs.cache
/POC/obj/Debug/POC.csproj.FileListAbsolute.txt
/POC/obj/Debug/POC.exe
/POC/obj/Debug/POC.pdb
/POC/obj/Release
/POC/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/POC/obj/Release/POC.csproj.AssemblyReference.cache
/POC/packages.config
/POC/POC.csproj
/POC/Program.cs
/POC/Properties
/POC/Properties/AssemblyInfo.cs
/POC.sln
